<html>
    <head>
        {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    </head>
    <body>
   
        <a href="{% url "home" %}">Home </a> &nbsp; &nbsp;
        <a href="{% url "users" %}">Users</a> &nbsp; &nbsp;
        <a href="{% url "add-user" %}">Add User</a> &nbsp; &nbsp;
        <a href="{% url "about" %}">About</a> &nbsp; &nbsp;
        <a href="{% url "links" %}">ShorterLink</a> &nbsp; &nbsp;

        
        {% block content %} {% endblock %} 
    </body>
</html>
